.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  font-family: "Courier New", Courier, monospace;
}

/* .before {
  color: black;
}

.before.right {
  color: #1dce1e;
}

.before.right.wrong {
  color: #f81305;
} */

.row .text span.add-green {
  color: #1dce1e;
}

.row .text span.add-red {
  color: #f81305;
}

/* .row .text span {
  position: relative;
} */

/* activeがついてる文字の下に表示 */

/* .row .text span.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: black;
} */

.active {
  border-bottom: black;
}
