.container-one {
  max-width: 100%;
  min-width: 1000px;
  height: 73px;
  margin-top: 1px;
  border-bottom: 2px solid #f5f6f7;
  position: relative;
}

.nav {
  list-style: none;
  float: right;
  justify-content: center;
  height: 73px;
  margin: 29px 80px 0 0;
}

.nav li {
  width: 115px;
  text-align: center;
  float: left;
}

.uncolored-button {
  text-decoration: none;
  color: #a0a0a0;
  font-family: Avenir, sans-serif;
  font-size: 15px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.uncolored-button:hover {
  color: #0b4265;
}

.colored-button {
  text-decoration: none;
  font-size: 15px;
  font-family: Avenir, sans-serif;
  color: white;
  background-color: #0b4265;
  border: none;
  border-radius: 5px;
  width: 103px;
  height: 43px;
  padding: 11px 17px;
}

.colored-button:hover {
  background-color: white;
  color: #0b4265;
}

.header-logo {
  position: absolute;
  top: 23px;
  left: 100px;
}

.header-logo img {
  width: 140px;
}

/* ------ Container 2 for index.html--------- */

.container-two {
  max-width: 1040px;
  min-width: 1000px;
  margin: 60px auto;
  position: relative;
}

.background-img {
  width: 100%;
  opacity: 0.7;
  height: 510px;
  object-fit: cover;
}

.colorfilter {
  background-color: gray;
  height: 510px;
}

.heading-on-img {
  /* adjust the place */
  position: absolute;
  top: 50px;
  left: 70px;

  /* details of heading */
  font-family: "Tiempos Headline", sans-serif;
  color: white;
  width: 450px;
  font-size: 36px;
  font-weight: lighter;
}

.text-on-img {
  /* adjust the position */
  position: absolute;
  top: 170px;
  left: 70px;

  /* details of text */
  font-family: Avenir, sans-serif;
  color: white;
  line-height: 25px;
  width: 520px;
}

.getstarted-button1 {
  /* adjust the position */
  position: absolute;
  bottom: 72px;
  left: 70px;

  /* details of button */
  width: 198px;
  height: 53px;
  font-size: 18px;
  color: white;
  font-family: Avenir, sans-serif;
  background-color: #294464;
  font-weight: lighter;
  border: none;
  border-radius: 5px;
}

.getstarted-button1:hover {
  transform: scale(1.1);
}

/* ------ Container 2 for product.html--------- */

.product-heading-on-img {
  /* adjust the position */
  position: absolute;
  top: 130px;
  left: 60px;

  /* details of heading */
  font-family: "Tiempos Headline", sans-serif;
  color: white;
  width: 500px;
  font-size: 36px;
  font-weight: lighter;
}

.product-text-on-img {
  /* adjust the position */
  position: absolute;
  top: 250px;
  left: 60px;

  /* details of text */
  font-family: Avenir, sans-serif;
  color: white;
  line-height: 25px;
  width: 520px;
}

/* ------ Container 2 for implementation.html--------- */

.implementation-heading-on-img {
  /* adjust the position */
  position: absolute;
  top: 80px;
  left: 60px;

  /* details of heading */
  font-family: "Tiempos Headline", sans-serif;
  color: white;
  width: 500px;
  font-size: 35px;
  font-weight: lighter;
}

.implementation-text-on-img {
  /* adjust the position */
  position: absolute;
  top: 250px;
  left: 60px;

  /* details of text */
  font-family: Avenir, sans-serif;
  color: white;
  line-height: 25px;
  width: 517px;
}

/* ------ Container 3 for index.html------- */

.container-three-index {
  max-width: 100%;
  min-width: 1000px;
  background-color: #fafafa;
  border-bottom: 2px solid #f5f5f6;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-one-half {
  width: calc(100% / 2);
}

.margin-adjust2 {
  margin-bottom: 95px;
}

.clinic-header {
  text-align: center;
  font-family: "Tiempos Headline", sans-serif;
  font-weight: lighter;
  color: #6e6e6e;
  margin-top: 53px;
}

.clinic-text {
  text-align: center;
  font-family: Avenir, sans-serif;
  color: #6e6e6e;
  width: 500px;
  margin: 0 auto 70px;
}

.clinic-name {
  text-align: center;
  font-family: Avenir, sans-serif;
  color: #6e6e6e;
  font-size: 20px;
}

/* ------ Container 3 for product.html------- */

.container-three-product {
  max-width: 100%;
  min-width: 1000px;
  border-bottom: 2px solid #f5f5f6;
  line-height: 24px;
}

.cream-background {
  background-color: #fafafa;
}

.small-header-product {
  color: #50514f;
  font-family: "Tiempos Headline", sans-serif;
  font-size: 30px;
  font-weight: lighter;
  line-height: 35px;
}

.text-product {
  color: #50514f;
  font-family: Avenir, sans-serif;
  font-size: 16px;
}

.italic-text-product {
  color: #50514f;
  font-family: "Tiempos Headline", sans-serif;
  font-style: italic;
  font-size: 16px;
}

.learn-charting {
  color: #0b4265;
}

.margin-adjust {
  padding: 70px 91px 45px;
}

.product-image1,
.product-image3 {
  width: 100%;
  margin: 7px;
  padding: 80px 60px 60px;
}

.product-image2 {
  width: 100%;
  padding: 115px 70px 0 0;
}

/* ------ Container 3 for implementation.html------- */

.container-three-implementation {
  max-width: 100%;
  min-width: 1000px;
  padding: 0 0 130px;
  border-bottom: 2px solid #f5f5f6;
}

.implementation-header {
  color: #50514f;
  font-family: "Tiempos Headline", sans-serif;
  font-weight: lighter;
  font-size: 32px;
  text-align: center;
  margin: 30px;
}

.margin-adjust3 {
  margin: 0 315px;
}

.list-number {
  color: #50514f;
  font-family: "Tiempos Headline", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.list-header {
  color: #50514f;
  font-family: Avenir, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.list-text {
  color: #50514f;
  font-family: Avenir, sans-serif;
}

/* ----------- Container 4 ----------- */

.container-four {
  max-width: 100%;
  min-width: 1000px;
  position: relative;
}

.ready {
  font-family: "Tiempos Headline", sans-serif;
  font-weight: lighter;
  color: #6e6e6e;
  margin-left: 70px;
  margin-top: 45px;
  font-size: 27px;
}

.schedule {
  font-family: Avenir, sans-serif;
  color: #6e6e6e;
  margin-left: 70px;
  font-size: 14px;
  margin-bottom: 43px;
}

.holizontal {
  display: flex;
  flex-direction: column;
}

.gray-background {
  background-color: #525351;
  height: 415px;
  width: 100%;
}

.address {
  font-family: Avenir, sans-serif;
  color: #ebebeb;
  margin-left: 85px;
  font-size: 15px;
  line-height: 12px;
}

.first-line-of-address {
  margin-top: 180px;
}

.company-product {
  font-family: Avenir, sans-serif;
  color: #ebebeb;
  margin-top: 110px;
  font-size: 20px;
  margin-left: 10px;
}

.nav2 {
  list-style: none;
  padding: 2px;
}

.nav2 li {
  margin-bottom: 20px;
}

.height-adjust1 {
  height: 415px;
}

.buttons1 {
  text-decoration: none;
  font-family: Avenir, sans-serif;
  color: #ebebeb;
  background-color: #525351;
  border: none;
  text-align: left;
  margin-left: 10px;
  font-size: 19px;
  padding: 0;
}

.buttons1:hover {
  color: #a0a0a0;
}

.height-adjust2 {
  height: 127px;
  width: 100%;
  margin-left: 50px;
}

.nav3 {
  list-style: none;
  margin-top: 52px;
  margin-left: -28px;
}

.nav3 li {
  float: left;
}

.buttons2 {
  text-decoration: none;
  font-family: Avenir, sans-serif;
  color: #6e6e6e;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
}

.buttons2:hover {
  color: black;
}

.white-logo {
  position: absolute;
  top: 260px;
  left: 85px;
}

.white-logo img {
  width: 140px;
}

.getstarted-button2 {
  /* adjust the position */
  position: absolute;
  top: 40px;
  right: 90px;

  /* details of button */
  width: 198px;
  height: 53px;
  font-size: 18px;
  color: white;
  font-family: Avenir, sans-serif;
  background-color: #294464;
  font-weight: lighter;
  border: none;
  border-radius: 5px;
}

.getstarted-button2:hover {
  transform: scale(1.1);
}
